<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />

    <link rel="stylesheet" href="/resume/style.css"/>
    <link rel="stylesheet" media="print" href="/resume/print.css"/>
    <!-- Facebook -->
    <meta property="og:title" content="Resume" />
    <meta property="og:image" content="https://{{site.url}}/social-media-banner.png" />
    <meta property="og:site_name" content="{{site.title}}" />
    <meta property="og:description" content="{{description}}" />
    <script src="https://getinsights.io/js/insights.js"></script>
    <script>
        insights.init("{{site.insightId}}")
        insights.trackPages()
    </script>
</head>
<body class="stack h-card">
    <header class="page-header wrapper">
        <div class="columns">
            <div>
                <h1>
                    {{ '/src/site/logo.svg' | svgContents: 'logo' }}
                    {{general.nameShort}}
                </h1>
                <h2 class="subheader">{{subTitle}}</h2>
            </div>
            <ul class="list-unstyled text-right-s">
                <li class="p-name">{{general.name}}</li>
                <li class="p-locality">{{general.address}}</li>
                <li class="p-tel"><a href="tel:{{general.mobile}}">{{general.mobile}}</a></li>
                <li class="u-email"><a href="mailto: {{general.email}}">{{general.email}}</a></li>
                <li class="u-url"><a href="https://{{general.website}}">{{general.website}}</a></li>
                <li class="u-url"><a href="https://{{general.github}}">Github</a></li>
            </ul>
        </div>
    </header>
    <main class="stack">
        {{content}}
    </main>
</body>
</html>